{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "importOrder": [
    "express",
    "^(?!express)\\w+$",
    "<THIRD_PARTY_MODULES>",
    "^assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "lf",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
